<template>
    <aside class="menu">

        <template v-for="item in config">
            <p class="menu-label">
                {{item.name}}
            </p>
            <ul class="menu-list" v-for="menu in item.menus">
                <li>
                    <router-link v-if="menu.type == 'link'" v-bind:to="menu.to">{{menu.name}}</router-link>
                    <a v-if="menu.type == 'button'" v-on:click="signal('pressed', menu.emit)">{{menu.name}}</a>
                    <ul v-if="menu.menus">
                        <li v-for="submenu in menu.menus">
                            <router-link v-if="submenu.type == 'link'" v-bind:to="submenu.to">{{submenu.name}}</router-link>
                            <a v-if="submenu.type == 'button'" v-on:click="signal('pressed', submenu.emit)">{{submenu.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </template>
    </aside>
</template>

<script>

    export default {
        name: "aside-menu",
        props: ['config'],
        data(){
            return {

            }
        },

        methods: {
            /**
             *
             * @param signalCode name of the signal that is listened by parent component
             * @param signalParam
             */
            signal: function(signalCode, signalParam){


                this.$emit(signalCode, signalParam)
            }
        }
    }
</script>

<style scoped>

</style>