<template>
    <div class="own-box content">
        <div class="tile is-ancestor is-vertical">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <strong>Nieruchomość:</strong> <router-link v-bind:to="'/property/' + config.PROPERTY_ID">{{config.PROPERTY_NAME}}</router-link>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="tile is-parent">
                <div class="tile is-child content">
                    <strong>Opis:</strong>
                    {{config.CON_DESCRIPTION}}
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child content">
                    <strong>Kontrakt:</strong>
                    <ul>
                        <li>Data zawarcia: {{dateFormat(config.CONTRACT_DATE)}}</li>
                    </ul>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child content">
                    <strong>Dane agenta:</strong>
                    <ul v-if="config.AGENT">
                        <li>Imię: {{config.AGENT.NAME}}</li>
                        <li>Nazwisko: {{config.AGENT.SURNAME}}</li>
                        <li>Telefon: {{config.AGENT.PHONE_NUMBER}}</li>
                        <li>Email: {{config.AGENT.EMAIL}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tile">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <table class="table is-narrow">
                        <tr>
                            <th>L.p.</th>
                            <th>Wartość</th>
                            <th>Data płatności</th>
                            <th>Data wystawienia</th>
                        </tr>
                        <tr v-for="(i, index) in config.INVOICES">
                            <td>{{index}}</td>
                            <td>{{i.AMOUNT_TO_PAY}} zł</td>
                            <td>{{dateFormat(i.PAY_DATE)}}</td>
                            <td>{{dateFormat(i.CREATE_DATE)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "invoice",
        props: ['config'],
        data(){
            return {

            }
        },
        methods: {
            dateFormat: function (dateString) {
                let d = new Date(dateString)
                return d.toLocaleDateString() + " " + d.toLocaleTimeString()
            }
        },

        mounted(){

        },

        computed: {

        }
    }
</script>

<style scoped>

</style>