<template>
    <div class="own-box content">
        <ul>
            <li>Nieruchomość: <router-link v-bind:to="'/property/' + config.PROPERTY_ID">{{config.PROPERTY_NAME}}</router-link></li>
            <li>Data: {{dateString}}</li>
            <li>
                Status:
                <strong class="has-text-grey-dark" v-if="terminated">Odbyte</strong>
                <strong class="has-text-success" v-else-if="config.AGENT">Przyjęte</strong>
                <strong v-else class="has-text-danger">Oczekujące</strong>

                <ul v-if="config.AGENT">
                    <li>Imię: {{config.AGENT.NAME}}</li>
                    <li>Nazwisko: {{config.AGENT.SURNAME}}</li>
                    <li>Telefon: {{config.AGENT.PHONE_NUMBER}}</li>
                    <li>Email: {{config.AGENT.EMAIL}}</li>
                </ul>
            </li>
        </ul>

    </div>
</template>

<script>
    export default {
        name: "meeting",
        props: ['config'],
        data(){
            return {

            }
        },

        computed: {
            terminated: function () {
                let d = Date.now()

                return (d > new Date(this.config.TOUR_DATE))
            },

            dateString: function () {
                let d = new Date(this.config.TOUR_DATE)
                return d.toLocaleDateString() + " " + d.toLocaleTimeString()
            }
        }
    }
</script>

<style scoped>

</style>