<template>
    <div class="banner">
        <nav class="navbar is-transparent has-text-white" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item">

                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">

                </div>

                <div class="navbar-end">
                    <router-link to='/'  class="navbar-item">
                        Strona główna
                    </router-link>

                    <router-link to='/api'  class="navbar-item">
                        Api
                    </router-link>

                    <router-link to='/browse' class="navbar-item">
                        Oferty
                    </router-link>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            More
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                About
                            </a>
                            <a class="navbar-item">
                                Jobs
                            </a>
                            <a class="navbar-item">
                                Contact
                            </a>
                            <a class="navbar-item">
                                Report an issue
                            </a>
                        </div>
                    </div>

                    <router-link v-if="!token" to='/login' class="navbar-item">
                        Zaloguj
                    </router-link>

                    <div v-else class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Moje konto
                        </a>

                        <div class="navbar-dropdown">
                            <router-link class="navbar-item" to='/panel'>
                                Panel
                            </router-link>
                            <a  class="navbar-item" v-on:click="logout()">
                                Wyloguj
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <header>
                        <h1 class="title">
                            Agencja nieruchomości - system klienta
                        </h1>
                        <h2 class="subtitle">
                            Bazy Danych 2 Projekt
                        </h2>
                    </header>
                </div>
            </div>
        </section>
    </div>

</template>

<script>
    export default {
        name: "navbar",
        props: ['token'],
        data() {
            return {

            }
        },
        methods: {
            logout: function () {
                this.$emit('user-logout')
            }
        },

        computed: {
        }
    }
</script>
