<template>
    <div class="own-box">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-3">
                <div class="tile is-child">
                    <figure class="image is-128x128">
                        <img alt="Zdjecie" v-bind:src="image">
                    </figure>
                </div>
            </div>

            <div class="tile is-vertical">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <h1 class="title">{{config.PROPERTY_NAME}}</h1>
                        <h1 class="subtitle">{{config.PRO_DESCRIPTION}}</h1>
                    </div>
                </div>
                <div class="tile">
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <strong>{{config.SURFACE}}</strong> m2 <br>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <strong>{{config.VALUE_M2}}</strong> zł/m2
                        </div>
                    </div>
                    <div v-if="config.PURPOSE == 'SELL'" class="tile is-parent">
                        <div class="tile is-child">
                            <strong>{{sellPrise}}</strong> zł <br>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child">
                            <strong v-if="config.AVAILABILITY == 'AVAILABLE'" class="has-text-success">{{status}}</strong>
                            <strong v-else-if="config.AVAILABILITY == 'INACTIVE'" class="has-text-grey-dark">Archiwalne</strong>
                            <strong v-else class="has-text-danger">Niedostępny</strong>
                        </div>
                    </div>
                </div>
                <div class="tile">
                    <div class="tile is-parent">
                        <div class="tile is-child content">
                            <h4>Opis</h4>
                            {{config.PRO_DESCRIPTION_2}}
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child content">
                            <h4>Adres</h4>
                            <ul>
                                <li>{{config.VOIVODESHIP}}</li>
                                <li>{{config.CITY}}</li>
                                <li>{{config.STREET_ADDRESS}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent" v-if="!disableLink">
                    <div class="tile is-child content">
                        <router-link v-bind:to="'/property/' + config.PROPERTY_ID">Przejdź do nieruchomości</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "property",
        props: ['config', 'disableLink'],
        data() {
            return {

            }
        },

        computed: {
            status: function () {
                if(this.config.PURPOSE == 'SELL')
                    return "Na sprzedaż"
                else return "Do wynajęcią"
            },

            sellPrise: function(){
                return (parseFloat(this.config.SURFACE) * parseFloat(this.config.VALUE_M2)).toFixed(2)
            },

            image: function () {
                return "/noimage.png"
            }
        }
    }
</script>

<style scoped>

</style>