.banner
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("/banner.jpg")

  background-position: center
  background-repeat: no-repeat
  background-size: cover
  position: relative


  header
    .title, .subtitle
      color: $white
