.own-box-container
  padding-top: 3em
  padding-right: 2em
  padding-left: 2em

.own-box
  background-color: $white
  //margin-top: 3em
  //margin-right: 2em
  //margin-left: 2em
  padding: 1em
  border: 1px solid $grey