<template>
    <div class="container">
        <h1 class="title">Tester zapytań</h1>

        <p>
            /** <br>
            * terminology:<br>
            * url scheme: http://simpledomain.com/1/2/3?a=2&b=8<br>
            * http is protocol. Protocol defines some methods e.x. get, post, delete and so on.<br>
            * We will mainly use get and post.<br>
            * simpledomain.com is domain name<br>
            * /1/2/3 is a path<br>
            * a=2&b=8 are query params<br>
            *<br>
            * to run api endpoint (select from table) you should request server with the following url:<br>
            * http://[some domain].pl/select/[table name]?limit=[limit value]&where=[where formula]<br>
            *     &fields=[fields string comma separated]<br>
            *<br>
            * in post requests data are send in request body in JSON format<br>
            *<br>
            * api endpoints:<br>
            *<br>
            * Function update rows in the table (tableName) where (where clausal) is true<br>
            * url: /update/[tableName]<br>
            * body: {where: "...", col1: val1, col2:val2, ...}<br>
            *<br>
            * Function inserts rows into the table (tableName)<br>
            * url: /insert/[tableName]<br>
            * body: {col1: val1, col2:val2, ...}<br>
            *<br>
            * Function deletes rows from the table (tableName) where (where clausal) is true<br>
            * url: /delete/[tableName]<br>
            * body: {where: "..."}<br>
            *<br>
            * Function createProperty row in the database <br>
            * url: /createproperty<br>
            * body: {locationVoivodeship: val1 ,locationCity: val2, locationStreet: val3, purpose: val4, classId: val5, surface:val6}<br>
            *<br>
            * Function create agreement between agent and client<br>
            * url: /createagreement<br>
            * body: {agentId: val1 (has to be agent otherwise nothing will be inserted), clientId: val2, propertyId: val3}<br>
            *<br>
            * Function creates user and login data<br>
            * url: /createuser<br>
            * body: {username: val1, password: val2, name: val3, surname: val4, phone: val5, email: val6}<br>
            * username and password are required<br>
            *<br>
            * Function change user into agent<br>
            * url: /createagent<br>
            * body: {clientId: val1}<br>
            *<br>
            * Function checks if user passed correct username and password<br>
            * url: /verifyuser<br>
            * body: {username: val1, password: val2}<br>
            *<br>
            * Function set user client into agent<br>
            * url: /createagent<br>
            * body: {clientId: val1}<br>
            *<br>
            * Function deletes (set username and password to empty) user login data for username<br>
            * url: /deletelogindata<br>
            * body: {userId: val1}<br>
            *<br>
            * Function deletes location (set all data to empty)<br>
            * url: /deletelocation<br>
            * body: {locationId: val1}<br>
            *<br>
            * Function deletes class (set all data to empty)<br>
            * url: /deleteclass<br>
            * body: {classId: val1}<br>
            *<br>
            * Function deletes user<br>
            * url: /deleteuser<br>
            * body: {classId: val1}<br>
            *<br>
            * Function deletes property<br>
            * url: /deleteproperty<br>
            * body: {classId: val1}<br>
            *<br>
            * Function creates invoice and calculates cost<br>
            * url: /createinvoice<br>
            * body: {contractId: val1, date: val2}<br>
            *<br>
            * Function selects properties with all connected data from others tables<br>
            * url: /selectProperties<br>
            * body: {}<br>
            *<br>

            * Function finds properties with all connected data from others tables<br>
            * url: /selectProperties<br>
            * body: {}<br>
            *<br>
            * Function finds one property with all connected data from others tables and photos<br>
            * url: /selectProperty<br>
            * body: {}<br>
            *<br>
            * post /verifytoken<br>
            * Token in body. If function returns object like: {status: "token valid", body: req.body, session: req.session}, then<br>
            * token was passed correctly<br>
            *<br>
            * get /verifytoken<br>
            * Token in url. If function returns object like: {status: "token valid", body: req.body, session: req.session}, then<br>
            * token was passed correctly<br>

        </p>

        <form class="form">
            <div class="field">
                <label class="label">Ścieżka</label>
                <div class="control">
                    <input class="input" type="text" placeholder="/select" v-model="path">
                </div>
            </div>

            <div class="field">
                <label class="label">Metoda</label>
                <div class="control">
                    <div class="select">
                        <select v-model="method">
                            <option>GET</option>
                            <option>POST</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Parametry (parametry podane w kolejnych liniach)</label>
                <div class="control">
                    <textarea v-model="params" class="textarea" :placeholder="`where = 1=1
fields = OPERATION_ID`"></textarea>
                </div>
            </div>

            <div class="control">
                <button class="button is-link" v-on:click="request">Zapytaj</button>
            </div>

        </form>
        <div class="content">
            <ul>
                <li>Twoj token: {{token}}</li>
                <li>Wygenerowane zapytanie: {{generatedUrl}}</li>
            </ul>
        </div>


        <article v-if="table.error" class="message is-danger">
            <div class="message-header">
                <p>Wystąpił błąd</p>
            </div>
            <div class="message-body">
                {{table.error}}
            </div>
        </article>

        <article v-else-if="typeof table === 'string'" class="message is-link">
            <div class="message-header">
                <p>Info tekst</p>
            </div>
            <div class="message-body">
                {{table}}
            </div>
        </article>

        <article v-else-if="Array.isArray(table)" class="message">
            <div class="message-header">
                <p>Info tablica</p>
            </div>
            <div class="message-body">
                <table >
                    <tr>
                        <th v-for="(cell, index) in table[0]">{{index}}</th>
                    </tr>
                    <tr v-for="(row, index) in table">
                        <td v-for="cell in row">{{cell}}</td>
                    </tr>
                </table>
            </div>
        </article>

        <article v-else-if="typeof table === 'object'" class="message is-link">
            <div class="message-header">
                <p>Info objekt</p>
            </div>
            <div class="message-body">
                {{JSON.stringify(table)}}
            </div>
        </article>

    </div>

</template>

<script>
    import axios from 'axios'

    export default {
        data() {
            return {
                table: [],
                path: "",
                method: "",
                params: "",
                generatedUrl: ""

            }
        },
        methods: {
            ping: function(){
                axios.get('/time')
                    .then(m => console.log(m.data))
                    .catch(e => console.error(e))
            },

            request: function(){
                console.log("function fired")
                let url = this.path
                if(url[0] != '/') url = '/' + url

                let params = this.params.split('\n')

                console.log(this.params, params)
                let p;

                if(this.method == 'GET'){

                    if(this.params != "") {
                        for (let i in params) {
                            let splitted = params[i].split('=')
                            params[i] = [splitted[0]]
                            splitted.shift()
                            params[i].push(splitted.join('='))
                        }


                        console.log(params)

                        url += '?'
                        for (let i in params) {
                            url += params[i][0] + "=" + escape(params[i][1]) + "&"
                        }
                    }

                    this.generatedUrl = window.location.origin + url
                    console.log(this.generatedUrl)

                    p = axios.get(url)
                }
                else {
                    let data = {}
                    if(this.params != "") {
                        for (let i in params) {
                            let splitted = params[i].split('=')
                            let d0 = splitted[0]
                            splitted.shift()
                            data[d0] = splitted.join('=')
                        }
                    }

                    this.generatedUrl = window.location.origin + url + " | data: " +  JSON.stringify(data)
                    p = axios.post(url,data)
                }

                p.then(m => {
                    this.table = m.data
                    console.log(m)
                }).catch(e => console.error(e))
            }
        },
        mounted() {
            let self = this
            setInterval(() => {
                //self.ping()
            }, 1000)
        },

        computed: {
            token: function(){
                return this.$root.$data.token
            }
        }
    }
</script>

<style scoped>

</style>