<template>
    <div class="tile is-ancestor has-background-grey-bis">
        <div class="tile is-parent is-2">
            <div class="tile is-child has-background-white">
                <aside-menu v-bind:config="config" @changed="menuChanged"></aside-menu>
            </div>
        </div>
        <div class="tile is-vertical">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <section v-for="p in properties" class="section">
                        <property v-bind:config="p"></property>
                    </section>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import aside from './assets/aside/aside.vue'
    import property from './assets/property.vue'
    import axios from 'axios'

    export default {
        data() {
            return {
                config: [{
                    name: 'F. główne', type: "link", to: "/", emit: "1", menus: [
                        {name: "Wyszukaj", type: "button", emit: "2"},
                        {name: "Znajdz", type: "button", emit: "3"}
                    ]
                },{
                    name: 'Filtry', type: "button", emit: "4", menus: [
                        {name: "Wyszukaj", type: "button", emit: "5"},
                        {name: "Znajdz", type: "button", emit: "6", menus:[
                            {name: "Wyszukaj", type: "link", to: '/', emit: "7"},
                            {name: "Wyszukaj", type: "button", emit: "8"},
                        ]},
                        {name: "Znajdz", type: "button", emit: "9"}
                    ]
                }],
                greeting: 'Hello world',
                properties: []
            }
        },

        methods: {
            menuChanged: function(eventData) {
                console.log(eventData)
            },

            loadProperties: function(){
                axios.post('/selectProperties').then(m => {
                    this.properties = m.data
                }).catch(e => console.error(e))
            }
        },

        mounted() {
            this.loadProperties()
        },

        components: {
            property,
            "aside-menu": aside,
        },

    }
</script>

