<template>
    <footer class="footer">
        <div class="content ">

            <div style="margin:auto">
                Projekt systemu dla agencji pośrednictwa nieruchomości <br>
                Autorzy: <br>
                <ul>
                    <li>Paweł Parczyk,</li>
                    <li>Krzysztof Gajda,</li>
                    <li>Szymon Tusznio</li>
                </ul>
                Aplikacja przeglądarkowa stworzona z wykorzystaniem:<br><strong>node</strong> + <strong>express</strong> + <strong>vue</strong> +
                <strong>vue-router</strong> + <strong>sass</strong> + <strong>bulma</strong> + <strong>webpack</strong>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "footerComponent",

        data(){
            return {

            }
        }
    }
</script>

<style scoped>

</style>