<template>
    <div>
        <navbar v-bind:token="token" @user-logout="logout()"></navbar>

        <div id="wrapper" class="container-fluid">

            <router-view></router-view>
        </div>


        <footerComponent></footerComponent>
    </div>
</template>

<script>
    import cmp from './browseView.vue'
    import axios from 'axios'
    import Navbar from './assets/navbar.vue'
    import Footer from "./footer.vue"

    export default{
        data() {
            return {
                token: ""
            }
        },
        components: {
            "footerComponent": Footer,
            Navbar,
        },

        methods: {
            logout: function() {
                axios.post('/logout', {
                    token: this.token
                }).then(m => {

                    this.$root.$data.token = undefined
                    delete sessionStorage['token']
                }).catch(e => console.error(e))
            },
        },

        mounted: function(){

            for(let i in sessionStorage){
                if(i!='length'){
                    this[i] = sessionStorage.getItem(i)
                }
            }
        },

        render: r => r(this)
    }

</script>