<template>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-7-tablet is-6-desktop is-4-widescreen">
                        <div class="box has-background-grey-bis">
                            <div class="field">
                                <label for="" class="label">Login</label>
                                <div class="control has-icons-left">
                                    <input type="email" placeholder="Login" class="input" v-bind:class="{'is-danger': error.username != ''}" v-model="username" required>
                                    <span class="icon is-small is-left">
                                      <i class="fa fa-envelope"></i>
                                    </span>
                                    <p class="help is-danger">{{error.username}}</p>
                                </div>
                            </div>
                            <div class="field">
                                <label for="" class="label">Hasło</label>
                                <div class="control has-icons-left">
                                    <input type="password" placeholder="*******" v-bind:class="{'is-danger': error.password != ''}" class="input" v-model="password" required>
                                    <span class="icon is-small is-left">
                                      <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                                <p class="help is-danger">{{error.password}}</p>
                            </div>
                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    <button class="button is-success" v-on:click="login()">
                                        Zaloguj się
                                    </button>
                                </p>
                                <p class="control">
                                    <router-link to='/register' class="button is-link">
                                        Zarejestruj się
                                    </router-link>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>

    import axios from 'axios';

    export default {
        data() {
            return {
                password: '',
                username: '',

                error: {
                    password: '',
                    username: '',
                }
            }
        },
        methods: {
            login() {
                axios.post('/verifyuser', {
                    username: this.username,
                    password: this.password,
                }).then(m => {
                    console.log(m.data)


                    console.log(this.$root.$data)

                    if(m.data.token) {

                        //save logged in status
                        this.$root.$data.token = m.data.token
                        sessionStorage.setItem('token', m.data.token);

                        //redirect to panel
                        this.$router.push("/panel")
                    }
                    //handle errors
                    else if(m.data.error){
                        if(m.data.error.indexOf("Incorrect username") > -1) {
                            this.error.username = "Niepoprawna nazwa użytkownika"
                            this.error.password = ""
                        }
                        else{
                            this.error.username = ""
                            this.error.password = "Niepoprawne hasło"
                        }
                    }


                }).catch(e => console.error(e))
            },
        }

    }
</script>

<style scoped>

</style>