<template>
    <div class="container">
        <div class="content">
            <header class="header">
                <h1 class="title">Strona główna</h1>
            </header>

            Niniejsza strona jest częścią projektu relalizowanego podczas zajęć <strong>"Projekt Bazy Danych 2"</strong>
            <ul>
                <li><strong>Git: </strong> <a href="https://gitlab.com/kollosp/43-bd2">https://gitlab.com/kollosp/43-bd2</a> </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: "mainView.vue"
    }
</script>

<style scoped>

</style>