<template>
    <div>
        <header>
            <h1 class="title">
                Lista spotkań
            </h1>
        </header>
        <section v-for="m in meetings" class="section">
            <meeting v-bind:config="m"></meeting>
        </section>
        <section v-if="meetings.length == 0" class="section">
            Brak faktur
        </section>
    </div>
</template>

<script>
    import axios from 'axios'
    import meeting from "./assets/meeting.vue"

    export default {
        name: "panelMeetingsView",
        components: {meeting},
        data(){
            return {
                meetings: []
            }
        },

        methods: {
            loadMeetings: function () {
                axios.post('/findmeetings', {

                }).then(m => {
                    if(m.data.error){
                        console.error(m.data.error)
                    }else{
                        this.meetings = m.data
                    }
                }).catch(e => console.error(e))
            }
        },

        mounted() {
            this.loadMeetings()
        }
    }
</script>

<style scoped>

</style>