<template>
    <div class="tile is-ancestor">
        <div class="tile is-parent is-3">
            <div class="tile is-child ">
                <aside-menu v-bind:config="config" @changed="menuChanged"></aside-menu>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>

    import aside from './assets/aside/aside.vue'

    export default {
        name: "panelView",
        data() {
            return {
                config: [{
                    name: 'Moje konto', type: "link", to: "/panel", emit: "1", menus: [
                        {name: "Spotkania", type: "link", to: "/panel/meetings", emit: "2"},
                        {name: "Faktury", type: "link", to: "/panel/invoices", emit: "3"}
                    ]
                }],
            }
        },

        methods: {
            menuChanged: function (param) {
                console.log(param)
            }
        },

        mounted() {

        },

        components: {
            'aside-menu' : aside
        }
    }
</script>

<style scoped>

</style>