<template>
    <div>
        <header>
            <h1 class="title">
                Lista faktur
            </h1>
        </header>
        <section v-for="m in invoices" class="section">
            <invoice v-bind:config="m"></invoice>
        </section>
        <section v-if="invoices.length == 0" class="section">
            Brak faktur
        </section>
    </div>
</template>

<script>
    import axios from 'axios'
    import invoice from "./assets/invoice.vue"

    export default {
        name: "panelInvoicesView",
        components: {invoice},
        data() {
            return {
                invoices: []
            }
        },
        methods: {
            loadInvoices: function(){
                axios.post('/findinvoices', {

                }).then(m => {
                    if(m.data.error){
                        console.error(m.data.error)
                    }else{
                        this.invoices = m.data
                    }
                }).catch(e => console.error(e))
            }
        },

        mounted() {
            this.loadInvoices()
        }
    }
</script>

<style scoped>

</style>