<template>
    <div class="container" >
        <section class="section">
        <property v-if="property" v-bind:config="property"
                  disable-link="true">
        </property>

        <article v-else class="message is-danger">
            <div class="message-header">
                <p>Błąd wyszukiwania</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                Żądana nieruchomość nie została odnaleziona - możliwe że ogłoszenie zostało już usunięte z serwisu. Jeśli masz jakieś pytania skontaktuj się ze wsparciem technicznym
            </div>
        </article>

        </section>
        <section class="section">
            <div class="own-box">

                <header>
                    <h1 class="title">Umów się na spotkanie z agentem</h1>
                    <h4 class="subtitle">
                        Jeśli zainteresowała Cię ta nieruchomość umów się na spotkanie. Wybierz dzień i godzinę a nasz agent skontaktuje się z tobą.</h4>
                </header>

                <br>

                <article v-if="!token" class="message is-info">
                    <div class="message-header">
                        <p>Informacja</p>
                    </div>
                    <div class="message-body">
                        Jeśli widzisz tą wiadomość znaczy to że nie jesteś zalogowany. <router-link to="/login">Zaloguj się</router-link> lub <router-link to="/register">załóż konto</router-link>
                    </div>
                </article>

                <div v-else class="form">

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Data spotkania</label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <input class="input" v-model="date" type="date">
                                </div>
                                <p v-if="errors.date!=''" class="help is-danger">
                                    {{errors.date}}
                                </p>
                            </div>
                            <div class="field is-narrow">
                                <div class="control">
                                    <input class="input" v-model="time" type="time">
                                </div>
                                <p v-if="errors.time!=''" class="help is-danger">
                                    {{errors.time}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Wiadomość</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <textarea class="textarea" v-model="question" placeholder="Napisz jak możemy ci pomóc"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <!-- Left empty for spacing -->
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary" v-on:click="sendMeetingRequest()">
                                        Wyślij
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    </div>
</template>

<script>
    import axios from 'axios'
    import property from './assets/property.vue'

    export default {
        name: "propertyView",
        data() {
            return {
                property: {},
                date: (new Date()).toLocaleDateString().split('.').reverse().join('-'),
                time: (new Date()).toLocaleTimeString(),
                question: "",

                errors: {
                    date: "",
                    time: "",
                }
            }
        },

        methods: {
            loadProperty: function(){
                axios.post('/selectProperty', {
                    propertyId: this.$route.params.id
                }).then(m => {
                    if(m.data.error){
                        this.property = null
                    }else{
                        this.property = m.data
                    }

                }).catch(e => console.error(e))
            },

            sendMeetingRequest: function () {
                if(!this.verify()) return

                axios.post('/createtour', {
                    propertyId: this.$route.params.id,
                    date: this.dateTime
                }).then(m => {
                    this.$router.push('/thanksmeeting')
                }).catch(e => console.error(e))
            },
            
            verify: function () {
                let ret = true

                for(let i in this.errors){
                    this.errors[i] = ""

                    if(this[i] == ""){
                        ret = false
                        this.errors[i] = "To pole nie może być puste"
                    }
                }

                let now = new Date(Date.now())


                let d = this.dateTime

                if(d.getHours() < 8 || d.getHours() > 16){
                    this.errors.time = "Należy podać godzinę z przedziału 8-16"
                    ret = false
                }

                if(d < now){
                    this.errors.date = "Należy podać datę przyszłą"
                    this.errors.time = ""
                    ret = false
                }

                return ret
            }
        },

        mounted() {
            console.log(this.$route.params.id)
            this.loadProperty()
        },

        components: {
            property,
        },

        computed: {
            token: function(){
                return this.$root.$data.token
            },

            dateTime: function () {
                let d = new Date(this.date)
                let tf = this.time.split(":")
                d.setHours(tf[0], tf[1], tf[2])

                return d
            }
        }
    }
</script>

<style scoped>

</style>