<template>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-7-tablet is-6-desktop is-4-widescreen">
                        <div class="box has-background-grey-bis">
                            <div class="field">
                                <label for="" class="label">Login</label>
                                <div class="control has-icons-left">
                                    <input type="text" placeholder="JanNowak78" class="input" v-model="username" v-bind:class="{'is-danger': error.username != ''}" required>
                                    <span class="icon is-small is-left">
                                      <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                <p class="help is-danger">{{error.username}}</p>
                            </div>
                            <div class="field">
                                <label for="" class="label">E-mail</label>
                                <div class="control has-icons-left">
                                    <input type="email" placeholder="JanNowak78@gmail.com" class="input" v-model="email" v-bind:class="{'is-danger': error.email != ''}" required>
                                    <span class="icon is-small is-left">
                                      <i class="fa fa-envelope"></i>
                                    </span>
                                    <p class="help is-danger">{{error.email}}</p>
                                </div>
                            </div>
                            <div class="field">
                                <label for="" class="label">Hasło</label>
                                <div class="control has-icons-left">
                                    <input type="password" placeholder="*******" class="input" v-model="password1" v-bind:class="{'is-danger': error.password1 != ''}" required>
                                    <span class="icon is-small is-left">
                                      <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                                <p class="help is-danger">{{error.password1}}</p>
                            </div>
                            <div class="field">
                                <label for="" class="label">Powtórz hasło</label>
                                <div class="control has-icons-left">
                                    <input type="password" placeholder="*******" class="input" v-model="password2" v-bind:class="{'is-danger': error.password2 != ''}" required>
                                    <span class="icon is-small is-left">
                                      <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                                <p class="help is-danger">{{error.password2}}</p>
                            </div>
                            <div class="field">
                                <label for="" class="label">Imię</label>
                                <div class="control has-icons-left">
                                    <input type="text" placeholder="Jan" class="input" v-model="name" v-bind:class="{'is-danger': error.name != ''}" required>
                                    <span class="icon is-small is-left">
                                      <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                <p class="help is-danger">{{error.name}}</p>
                            </div>
                            <div class="field">
                                <label for="" class="label">Nazwisko</label>
                                <div class="control has-icons-left">
                                    <input type="text" placeholder="Nowak" class="input" v-model="surname" v-bind:class="{'is-danger': error.surname != ''}" required>
                                    <span class="icon is-small is-left">
                                      <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                <p class="help is-danger">{{error.surname}}</p>
                            </div>
                            <div class="field">
                                <label for="" class="label">Telefon</label>
                                <div class="control has-icons-left">
                                    <input type="phone" placeholder="+48 501 268 715" class="input" v-model="phone" v-bind:class="{'is-danger': error.phone != ''}" required>
                                    <span class="icon is-small is-left">
                                      <i class="fa fa-phone"></i>
                                    </span>
                                    <p class="help is-danger">{{error.phone}}</p>
                                </div>
                            </div>
                            <div class="field">
                                <button class="button is-link" v-on:click="register()">
                                    Zarejestruj się
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import axios from 'axios';

    export default {

        data(){
            return {
                name: "",
                username: "",
                surname: "",
                login: "",
                password1: "",
                password2: "",
                phone: "",
                email: "",

                error: {
                    name: "",
                    username: "",
                    surname: "",
                    login: "",
                    password1: "",
                    password2: "",
                    phone: "",
                    email: "",
                }
            }
        },

        methods: {
            register: function(){
                if(this.verify() == false)
                    return

                axios.post('/createuser', {
                    name: this.name,
                    username: this.username,
                    surname: this.surname,
                    login: this.login,
                    password: this.password1,
                    phone: this.phone,
                    email: this.email,
                }).then(m => {
                    console.log(m.data)

                    if(m.data.error) {
                        let error = m.data.error
                        if (error.code == "ER_DUP_ENTRY") {
                            this.error.username = "Taki użytkownik już istnieje"
                        }
                    }else{
                        this.$router.push('/welcome')
                    }
                }).catch(e => console.error(e))
            },

            verify(){
                let r = true

                for(let i in this.error) {
                    if (this[i] == "") {
                        this.error[i] = "Pole nie może być puste"
                    } else {
                        this.error[i] = ""
                        r = false
                    }
                }

                if(this.password1 != "" && this.password2 != "" && this.password1 != this.password2){
                    this.error.password1 = "Hasła nie są takie same"
                    this.error.password2 = this.error.password1
                    r = false
                }

                if(this.email != "" && this.email.indexOf('@') == -1){
                    this.error.email = "Nieprawidłowy adres email"
                    r = false
                }
            }
        }
    }
</script>

<style scoped>

</style>