<template>
    <div class="container">
        <header class="header">
            <h1 class="title">Dziękujemy za zainteresowanie ofertą i umówienie spotkania</h1>
            Za <strong>{{timer}}</strong> sekund zostanie wykonane przekierowanie... <br>
            Jeśli przekierowanie nie zostało wykonane to <router-link to="/panel">Przejdź do panelu</router-link>
        </header>
    </div>
</template>

<script>
    export default {
        name: "thanksMeetingView",
        data() {
            return {
                timer: 5,
            }
        },

        mounted(){
            let self = this
            let interval = setInterval(() => {
                self.timer --

                if(self.timer == 0){
                    clearInterval(interval)
                    self.$router.push('/panel')
                }
            },1000)
        }
    }
</script>

<style scoped>

</style>